<section class='login-bbox'>
    <div>Start session</div>
    <form onsubmit='login'>
        <div>
            <div>
                <p>User name:</p>
                <div><input type='text' onkeyup='set_username' value='[state:username]' /></div>
            </div>
            <div>
                <p>Password:</p>
                <div><input type='password' onkeyup='set_password' value='[state:pass]' /></div>
            </div>
            <div>
                {%if:response !== '':<p>[state:response]</p>:<div></div>%}
            </div>
            <div class='login-btn-bbox'><input type='submit' value='Login' /></div>
            <div class='login-btn-bbox'><button class='a-btn'>Forgot your password?</button></div>
        </div>
    </form>
</section>