<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= htmlWebpackPlugin.options.metaDesc %>" />
    <style type="text/css">
    	@font-face {
		    font-family: 'aaarghnormal';
		    src: url('css/aaargh-webfont.woff2') format('woff2'),
		         url('css/aaargh-webfont.woff') format('woff');
		    font-weight: normal;
		    font-style: normal;
		}
		@font-face {
		    font-family: 'abelregular';
		    src: url('css/abel-regular-webfont.woff2') format('woff2'),
		         url('css/abel-regular-webfont.woff') format('woff');
		    font-weight: normal;
		    font-style: normal;
		}
    </style>
</head>
<body>
	<div id='relast'></div>
</body>
</html>